

.Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
   
    gap: 10px;
    

}
h1{
    text-align: center;
   padding-top: 200px;
}
.Wrapper button{
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 22px;
 border-radius: 4px;
 color: white;
 cursor: pointer;
}
button:disabled{
    opacity: 0.6;
}
button.minus{
    background-color: darksalmon;
}
button.plus{
    background-color: cadetblue;
}
